.search-form {
  display: flex;
  margin-left: 40%;
  margin-right: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}
.btn-submit {
  margin-left: 40%;
  border-radius: 10px;
}

.btn {
  margin-left: 50%;
  margin-right: 50%;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 40px;
}
.is-hidden {
  opacity: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.photo-card {
  border-radius: 4px;
  margin: 10px;
  width: calc(100 / 4 * 30px) / 4;
  background-color: tomato;
}
.photo-card img {
  width: 290px;
  border-radius: 4px;
}
